:root {
  --color-bg: #0D1117;
  --color-text: #F0F6FC;
  --color-surface: #151B23;
  --color-surface-2: #0D1117;
  --color-header-bg: #010409;
  --color-border: #3D444D;
  --color-muted: #8B949E;
  --color-accent: #58A6FF;
  --color-accent-2: #D2A8FF;
  --color-success: #3FB950;
  --color-danger: #FF6A6A;
}